.outerdiv{
  background: url('../assets/bg.png');
  background-color:unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.searchbar{
  display: flex;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 20px;
  overflow: hidden;
  border: none;
  align-items: center;
  margin: 10px;
}

.searchbar input{
  width: 500px;
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 10px;
}

.searchbar button{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

}

.row .section1 {
  background-color: rgba(0, 0, 0, 0.406);
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  margin: 10px;
}

.row .timediv{
  background-color: rgba(0, 0, 0, 0.406);
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 60px;
  color: rgb(231, 231, 228);
}

.section2 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 1000px;

  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section21 {
  width: 46%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.weathericon {
  width: 100px;
  height: 100px;
  color: white;
}

.section11 {
  display: flex;
  align-items: center;
  gap: 80px;
}

.temp {
  color: rgb(255, 234, 150);
  font-size: 40px;
}

.temp span {
  font-size: 40px;
  color: white;
}

.city {
  font-size: 30px;
  color: white;
}

.weathertype {
  font-size: 30px;
  color: white;
}

.head1 {
  font-size: 25px;
  color: white;
}

.head2 {
  font-size: 25px;
  color: rgb(52, 188, 219);
}